<section id="contact" class="my-5 py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-10 pb-3 my-3 text-center text-lg-left">
                        <h3>Contact Information</h3>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-1">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-8">
                        <p>Room(206), Kanyeikmon Condo, Kan st, Hlaing tsp, Yangon</p>
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-1">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="col-8">
                        <a href="tel:09xxxxxxxx">
                            <p>09 xxx xxx xxx</p>
                        </a>
                        <a href="tel:09xxxxxxxx">
                            <p>09 xxx xxx xxx</p>
                        </a>

                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    <div class="col-1">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="col-8">
                        <a href="mailto:info@minokcamm.com"><p>info@minokcamm.com</p></a>
                        <a href="mailto:info@minokcamm.com"><p>sales@minokcamm.com</p></a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-1">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="col-8">
                        <a target="_blank" rel="noopener noreferrer"
                            href="https://www.facebook.com/minokcaconstructionchemicals">
                            <p>@minokcaconstructionchemicals · Building materials</p>
                        </a>
                    </div>
                </div>


            </div>
            <div class="col-12 col-lg-6">
                <div id="Google_MAP"></div>
            </div>
        </div>
    </div>
</section>


<footer id="footer">
    <div class="container-fluid bg-inverse-2 text-light py-5">
        <div class="row justify-content-around">
            <div class="col-12 col-lg-4 text-center">
                <img class="nav_logo" src="../Minokca-logo-light.svg">
                <div class="row justify-content-center">
                    <div class="col-8">  <p class="mt-3">Lorem ipsum dolar sit amat.</p>
                <p>Ea nam posse tollit labores, vis graeci accommodare ne, te nam illud urbanitas argumentum.</p></div>
                  
                </div>
                
            </div>
            <div class="col-6 col-lg-3 mt-3 mt-lg-0">
                <h4>Site Map</h4>
                <p>Home</p>
                <p>About us</p>
                <p>Project Portfolio</p>
                <p>Products</p>
                <p>Contact us</p>
            </div>
            <div class="col-6 col-lg-3 mt-3 mt-lg-0">
                <h4>Office Hour</h4>
                <p>Weekdays : 9am-6pm</p>
                <p>Saturday : 9am-12pm</p>
                <p>Sunday : close</p>
                <p>Public-Holidays: close</p>
                
            </div>
            <div class="col-12 col-lg-2 mt-3 mt-lg-0">
                <h4>Contact</h4>
                <a href="tel:09xxxxxxxx">
                    <p>09 xxx xxx xxx</p>
                </a>
                <a href="tel:09xxxxxxxx">
                    <p>09 xxx xxx xxx</p>
                </a>
                <a href="mailto:info@minokcamm.com">
                    <p>info@minokcamm.com</p>
                </a>
                <a href="mailto:info@minokcamm.com">
                    <p>sales@minokcamm.com</p>
                </a>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-4 text-center">
                <p class="d-inline" id="red">CONNECT WITH US : </p>
                <a href="" class="px-2"><i class="fab fa-facebook-f text-light"></i></a>
                <a href="" class="px-2"><i class="fab fa-instagram text-light"></i></a>
                <a href="" class="px-2"><i class="fab fa-linkedin-in text-light"></i></a>
                <a href="" class="px-2"><i class="fab fa-twitter text-light"></i></a>
                <a href="" class="px-2"><i class="far fa-envelope text-light"></i></a>


            </div>
        </div>
       
           
    </div>
    <div> 
         <div class="row justify-content-end bg-dark text-light p-2">
            <div class="col-12 col-md-4 text-center">
                <p> © 2020 Min Myanmar Nwe Designed by :<a href="#"><span class="text-warning"> Pyae Sone Thant</span></a></p>
            </div>
        </div>
    </div>
</footer>
















<!-- Optional JavaScript -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="/app.js"></script>
</body>

</html>