<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!--main css-->
  <link rel="stylesheet" href="app.css">

  <!--fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">

  <!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!--fontawesome kit code-->

  <!-- Multilingual jquery-lang -->
  <script src="js/jquery-lang.js" charset="utf-8" type="text/javascript"></script>
  <script type="text/javascript">
    // Create language switcher instance
    var lang = new Lang();

    lang.init({
      defaultLang: 'en'
    });
  </script>
</head>



<body>

  <nav class="navbar fixed-top navbar-expand-lg shadow navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class="nav_logo" src="../Minokca-logo-light.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav topBotomBordersOut mr-auto">
        <li class="nav-item text-lg-center">
          <a class="nav-link nav-animate" href="/">HOME</a>
        </li>
        <li class="nav-item text-lg-center">
          <a class="nav-link nav-animate" href="/about">ABOUT US</a>
        </li>
        <li class="nav-item text-lg-center">
          <a class="nav-link nav-animate" href="/projects">PROJECTS</a>
        </li>
        <li class="nav-item text-lg-center">
          <a class="nav-link nav-animate" href="/products">PRODUCTS</a>
        </li>
        <li class="nav-item text-lg-center">
          <a class="nav-link nav-animate" href="/contact">CONTACT</a>
        </li>

      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a class="nav-link nav-animate dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LANGUAGE
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">မြန်မာ</a>
        </li>
      </ul>
      <ul id='ns' class="navbar-nav flex-row justify-content-center">
        <li class="nav-item text-lg-center">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li class="nav-item text-lg-center">
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </li>
        <li class="nav-item text-lg-center">
          <a href="#"><i class="fas fa-phone-square"></i></a>
        </li>

        <li class="nav-item text-lg-center">
          <a href="#"><i class="fas fa-envelope"></i></a>
        </li>

      </ul>
    </div>
  </nav>