<%- include("partials/header")%>

    <header>
        <section id="hero">
            <div class="container-fluid hr" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);">
                <div class="container">

                    <div class="hr-contents">
                        <div class="row justify-content-between">
                            <div class="col-2 col-md-4">
                                <img class="nav_logo2 ml-md-4 ml-lg-5" src="../mmnwe-logo-dark.svg" alt="">
                            </div>
                            <div class="col-8 col-md-8 col-lg-6 text-center pt-4">
                                <div class="d-flex flex-column">
                                    <div>
                                        <h1><span class="red">Minokca</span> Construction Chemicals</h1>
                                        <h2>Myanmar concrete admixture group</h2>
                                    </div>

                                    <p class="pt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                                        excepturi amet
                                        nobis! Consequuntur voluptatum aliquid optio nostrum quas doloremque repellendus
                                        totam beatae. Cumque laborum tempore laboriosam inventore voluptas ducimus
                                        facilis.
                                    </p>
                                    <div class="pt-5 ">
                                        <button type="button" class="btn btn-red b rounded-pill">SEE PRODUCTS</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </header>

    <main>
        <section id="intro-landing" class="bg-light">
            <div class="container py-3 py-lg-5">
                <section class="mt-5">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10 pb-3">
                            <h3 class="text-center">YOUR <span class="red">TRUSTED</span> LOCAL PARTNER</h3>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-md-3 mt-2">
                        <div class="col-12 col-lg-7 text-center">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl urna.
                                Ut consequat maximus volutpat. Nulla scelerisque pharetra sapien, vel congue nisi
                                blandit
                                vitae.
                                Aliquam id quam nisi. Donec velit libero, hendrerit ac vehicula eu, gravida non velit.
                                Sed elementum ante eget elementum porttitor. Curabitur nec finibus felis, et placerat
                                ipsum.
                            </p>
                            <div class="pt-5 ">
                                <button type="button" class="btn btn-red b">LEARN MORE</button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="container mt-3 mt-lg-5">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 col-lg-3 text-center">
                        <i class="fas fa-certificate display-4 text-inverse"></i>
                        <div class="container mt-3">
                            <h5>ISO Certified Company</h5>
                            <p>ISO 14000:2012</br>
                                ISO 90001:2010</p>

                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 text-center">
                        <i class="fas fa-stamp display-4 text-inverse"></i>
                        <div class="container mt-3">
                            <h5>Quality Assurance</h5>
                            <p>Lorem ipsum dolar sit amat</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 text-center">
                        <i class="fas fa-globe display-4 text-inverse"></i>
                        <div class="container mt-3">
                            <h5>International Supplier</h5>
                            <p>International standard products</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="body-landing" class="my-lg-3 py-lg-3">
            <div class="container my-5 py-5">
                <div class="row mb-5 pb-5">
                    <div class="col-12 col-lg-8 text-center text-md-left">
                        <h3 class="">Lorem ipsum dolar sit amat</h3>
                        <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl urna.
                            Ut consequat maximus volutpat. Nulla scelerisque pharetra sapien, vel congue nisi blandit
                            vitae.
                            Aliquam id quam nisi. Donec velit libero, hendrerit ac vehicula eu, gravida non velit.
                            Sed elementum ante eget elementum porttitor. Curabitur nec finibus felis, et placerat ipsum.
                        </p>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-end mt-5 pt-5">
                    <div
                        class="col-12 col-lg-4 order-2 order-lg-1 d-lg-flex align-items-center text-right mt-3 mt-lg-0">
                        <a href="/About" style="text-decoration:none!important;">
                            <h4>Read More <i class="far fa-arrow-alt-circle-right"></i></h4>
                        </a>
                    </div>
                    <div class="col-12 col-lg-8 text-center text-md-right order-1 order-lg-2">
                        <h3 class="">Lorem ipsum dolar sit amat</h3>
                        <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl urna.
                            Ut consequat maximus volutpat. Nulla scelerisque pharetra sapien, vel congue nisi blandit
                            vitae.
                            Aliquam id quam nisi. Donec velit libero, hendrerit ac vehicula eu, gravida non velit.
                            Sed elementum ante eget elementum porttitor. Curabitur nec finibus felis, et placerat ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="features-landing" class="my-lg-3 py-lg-3">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-5 mb-md-0">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <img src="https://images.unsplash.com/photo-1531431057391-da7a1aabd412?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80"
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="row justify-content-center " style="height:200px;">
                                <div class="col-10 text-center mt-3">
                                    <h3>Feature Projects</h3>
                                    <p> Ut consequat maximus volutpat. Nulla scelerisque pharetra sapien, vel congue
                                        nisi
                                        blandit vitae.
                                        Aliquam id quam nisi. Donec velit libero, hendrerit ac vehicula eu, gravida non
                                        velit.</p>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <a href="/projects" class="btn btn-primary btn-md btn-block">Read More</a>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-6">
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <img src="https://images.unsplash.com/photo-1593012671976-1422185230fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80"
                                        class="img-fluid">
                                </div>
                            </div>
                            <div class="row justify-content-center" style="height:200px;">
                                <div class="col-10 text-center mt-3">
                                    <h3>Minokca Products</h3>
                                    <p>Sed elementum ante eget elementum porttitor. Curabitur nec finibus felis, et
                                        placerat
                                        ipsum.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl urna.</p>

                                </div>

                            </div>
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <a href="/projects" class="btn btn-primary btn-md btn-block">Read More</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>




    <%- include("partials/footer")%>