<%- include("partials/header")%>

<div class="container-fluid hero hero-landing" style="box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);">
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <h2 class="text-light">Minokca Construction Chemicals</h2>
                <h1 class="text-light">Myanmar concrete admixture group</h1>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" >
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 pb-3">
            <h3 class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-7">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis nisl urna.
            Ut consequat maximus volutpat. Nulla scelerisque pharetra sapien, vel congue nisi blandit vitae.
            Aliquam id quam nisi. Donec velit libero, hendrerit ac vehicula eu, gravida non velit.
            Sed elementum ante eget elementum porttitor. Curabitur nec finibus felis, et placerat ipsum.
            </p>
        </div>
    </div>
</div>

<%- include("partials/footer")%>