<%- include("partials/header")%>

<section id="products-intro" class="my-5 py-5">
    <div class="container">
        <div class="row">
            <h3>Our Product List</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 bg-inverse-2 text-light p-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-inverse-2 text-light">Cras justo odio</li>
                  <li class="list-group-item bg-inverse-2 text-light">Dapibus ac facilisis in</li>
                  <li class="list-group-item bg-inverse-2 text-light">Morbi leo risus</li>
                  <li class="list-group-item bg-inverse-2 text-light">Porta ac consectetur ac</li>
                  <li class="list-group-item bg-inverse-2 text-light">Vestibulum at eros</li>
                  <li class="list-group-item bg-inverse-2 text-light">Cras justo odio</li>
                  <li class="list-group-item bg-inverse-2 text-light">Dapibus ac facilisis in</li>
                  <li class="list-group-item bg-inverse-2 text-light">Morbi leo risus</li>
                  <li class="list-group-item bg-inverse-2 text-light">Porta ac consectetur ac</li>
                  <li class="list-group-item bg-inverse-2 text-light">Vestibulum at eros</li>
                  <li class="list-group-item bg-inverse-2 text-light">Porta ac consectetur ac</li>
                  <li class="list-group-item bg-inverse-2 text-light">Vestibulum at eros</li>
                </ul>
            </div>    
            <div class="col-12 col-md-8">
                <div class="row">
                   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1565008447742-97f6f38c985c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
                        class="d-block w-100 img-fluid" style="height:400px;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1494488180300-4c634d1b2124?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80"
                        class="d-block w-100 img-fluid" style="height:400px;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1429497419816-9ca5cfb4571a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                        class="d-block w-100 img-fluid" style="height:400px;" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
               <div class="row justify-content-center">
                 <div class="col-10 mt-5">
                  <p>
                     Donec quis consequat neque. Nullam lobortis dictum tincidunt. Vestibulum id turpis in lorem iaculis ultricies. Morbi sagittis lobortis sapien.
                   Morbi tempus vehicula luctus. Quisque est erat, congue scelerisque eros vitae, pharetra dapibus dolor.
                   Nullam condimentum nunc metus, et euismod eros aliquet ut. Suspendisse potenti. In ornare tortor pharetra nisl lobortis, id consequat mi varius. In eu malesuada tellus, vel fermentum ante.
                  </p>
                 </div>
               </div>
            </div>
        </div>
    </div>
</section>

<section id="products-list">
  <div class="container-fluid">
    
    <div class="product-container d-flex flex-wrap justify-content-center"> 
      <div class="info">
        <h1>Minokca Products (Myanmar)</h1><span>Get info about products | <i class='fa fa-envelope'></i> <a href='mailto:info@minokcamm.com'>info@minokcamm.com</a> Contact sale team | <i class='fa fa-phone'></i> <a href="tel:09 xxx xxx xxx">09 xxx xxx xxx</a></span>
      </div>
    </div>
  
  <div class="row">
    <div class="col-12 col-lg-3"><div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1529700215145-58542a1f36b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Product A</div>
        <h1 class="title">Concrete blocks</h1>
        <h2 class="sub_title">Lorem ipsum dolar sit amat</h2>
        <ul class="description">
          <li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li><li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li>
        </ul>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span><span class="comments"><a href="#"><i class="fa fa-facebook"></i></a></span></div>
      </div>
    </div>
  </div>
  </div>
    <div class="col-12 col-lg-3"><div class="column">
    
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1529700215145-58542a1f36b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Product A</div>
        <h1 class="title">Concrete blocks</h1>
        <h2 class="sub_title">Lorem ipsum dolar sit amat</h2>
        <ul class="description">
          <li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li><li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li>
        </ul>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span><span class="comments"><a href="#"><i class="fa fa-facebook"></i></a></span></div>
      </div>
    </div>
  </div></div>
    <div class="col-12 col-lg-3"><div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1529700215145-58542a1f36b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Product A</div>
        <h1 class="title">Concrete blocks</h1>
        <h2 class="sub_title">Lorem ipsum dolar sit amat</h2>
        <ul class="description">
          <li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li><li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li>
        </ul>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span><span class="comments"><a href="#"><i class="fa fa-facebook"></i></a></span></div>
      </div>
    </div>
  </div>
  </div>
    <div class="col-12 col-lg-3">
      <div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="https://images.unsplash.com/photo-1529700215145-58542a1f36b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Product A</div>
        <h1 class="title">Concrete blocks</h1>
        <h2 class="sub_title">Lorem ipsum dolar sit amat</h2>
        <ul class="description">
          <li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li><li>Cras justo</li>
          <li>Morbi leo</li>
          <li>Porta ac consectetur</li>
          <li>Cras justo</li>
          <li>Cras justo</li>
        </ul>
        <div class="post-meta"><span class="timestamp"><i class="fa fa-clock"></i> 6 mins ago</span><span class="comments"><a href="#"><i class="fa fa-facebook"></i></a></span></div>
      </div>
    </div>
  </div>
  </div>
  </div>
  
  </div>
</section>

<%- include("partials/footer")%>